.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    box-sizing: border-box;
    padding: 6px;
    z-index: 2;

    border: 1px solid #34383d;
    border-radius: 6px;
    background-color: #1b1d21;
}

.controlButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    padding: 0;
    border: 1px solid #3b3f45;
    border-radius: 6px;
    background-color: #25282d;

    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

.controlButton:hover {
    background-color: #2e3238;
    border-color: #4a4f57;
}

.controlButton img {
    border-radius: 4px;
}

.active {
    border-color: #6ea03b;
    background-color: #334325;
}

@media (max-width: 350px) {
    .controlButton {
        width: 32px;
        height: 32px;
    }
}