.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 28px;
    padding: 10px 12px;
    box-sizing: border-box;
    width: 100%;

    background-color: var(--ui-shade-2);
    color: white;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.section a {
    color: white;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 28px;
}

.typographyIcon {
    width: 24px;
    height: 24px !important;
}

.typographyText {
    font-size: 1.15rem;
}

.copyrightNotice {
    font-size: 0.75rem;
    line-height: 1.2;
}

.link {
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.85rem;
}