node_modules
*/dist
.env

# VS code ignores
.vs
.VSCodeCounter
.vscode/

# Mac stuff
.DS_Store

# python stuff
.venv/

# chess image rendering
chessglyphs/

# Custom one-time moving python scripts
scripts/*.py

# Stockfish WASM's too big to commit
stockfish-18.wasm
stockfish-18-single.wasm
