.wrapper {
    display: flex;
    justify-content: center;
    gap: 6px;
    position: relative;

    border-radius: 6px;
    background-color: #2a2c30;
}

.backButton {
    padding: 2px;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    position: absolute;
    left: 0;

    background-color: #34373d;
}

.optionButton {
    padding: 4px;
    width: 44px;
    height: 44px;

    background-color: #2a2c30;
}