.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #373a3f;
    background-color: #2a2d31;
}

.chart {
    border-radius: 6px;
    background-color: #1b1d20;

    cursor: pointer !important;
    overflow: hidden;
}

.tooltip {
    display: flex;
    flex-direction: column;
    padding: 4px 6px;

    border: 1px solid #1a1a1a;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.85);
}

.tooltipEvaluation {
    display: flex;
    align-items: center;
    gap: 5px;
}

.tooltipMove {
    font-size: 0.9rem;
}