.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 8px;

    border-radius: 6px;
    border: 1px solid #373a3f;
    background-color: #2a2d31;
}

.accuraciesTitle {
    padding: 6px 6px 0 6px;
    text-align: center;

    font-size: 1.15rem;
    color: white;
}

.accuracies {
    display: flex;
    align-items: center;
}

.accuracy {
    padding: 6px;
    width: 50%;
    box-sizing: border-box;
    text-align: center;

    font-size: 1.15rem;
    font-weight: 700;
}

.whiteAccuracy {
    background-color: #f1f1f1;
    color: #161616;
}

.blackAccuracy {
    background-color: #111315;
    color: #f1f1f1;
}