.flag {
    width: 16px;
    height: 12px;
    border-radius: 2px;
    flex: 0 0 auto;
    background-repeat: no-repeat;
    background-size: 216px 412px;
    background-image: image-set(
        url("../../../../public/img/flags/flags-16.png") 1x,
        url("../../../../public/img/flags/flags-32.png") 2x,
        url("../../../../public/img/flags/flags-64.png") 4x
    );
}

:global(.country-xx) {
    background-position: 100% 100%;
}
:global(.country-ph){background-position:0 0}
:global(.country-ad){background-position:10% 0}
:global(.country-ae){background-position:20% 0}
:global(.country-af){background-position:30% 0}
:global(.country-ag){background-position:40% 0}
:global(.country-ai){background-position:50% 0}
:global(.country-al){background-position:60% 0}
:global(.country-am){background-position:70% 0}
:global(.country-ao){background-position:80% 0}
:global(.country-ar){background-position:90% 0}
:global(.country-as){background-position:100% 0}
:global(.country-at){background-position:0 4%}
:global(.country-au){background-position:10% 4%}
:global(.country-aw){background-position:20% 4%}
:global(.country-ax){background-position:30% 4%}
:global(.country-az){background-position:40% 4%}
:global(.country-ba){background-position:50% 4%}
:global(.country-bb){background-position:60% 4%}
:global(.country-bd){background-position:70% 4%}
:global(.country-be){background-position:80% 4%}
:global(.country-bf){background-position:90% 4%}
:global(.country-bg){background-position:100% 4%}
:global(.country-bh){background-position:0 8%}
:global(.country-bi){background-position:10% 8%}
:global(.country-bj){background-position:20% 8%}
:global(.country-bm){background-position:30% 8%}
:global(.country-bn){background-position:40% 8%}
:global(.country-bo){background-position:50% 8%}
:global(.country-br){background-position:60% 8%}
:global(.country-bs){background-position:70% 8%}
:global(.country-bt){background-position:80% 8%}
:global(.country-bw){background-position:90% 8%}
:global(.country-by){background-position:100% 8%}
:global(.country-bz){background-position:0 12%}
:global(.country-ca){background-position:10% 12%}
:global(.country-cd){background-position:20% 12%}
:global(.country-cf){background-position:30% 12%}
:global(.country-cg){background-position:40% 12%}
:global(.country-ch){background-position:50% 12%}
:global(.country-ci){background-position:60% 12%}
:global(.country-cl){background-position:70% 12%}
:global(.country-cm){background-position:80% 12%}
:global(.country-cn){background-position:90% 12%}
:global(.country-co){background-position:100% 12%}
:global(.country-cr){background-position:0 16%}
:global(.country-cu){background-position:10% 16%}
:global(.country-cv){background-position:20% 16%}
:global(.country-cw){background-position:30% 16%}
:global(.country-cy){background-position:40% 16%}
:global(.country-cz){background-position:50% 16%}
:global(.country-de){background-position:60% 16%}
:global(.country-dj){background-position:70% 16%}
:global(.country-dk){background-position:80% 16%}
:global(.country-dm){background-position:90% 16%}
:global(.country-do){background-position:100% 16%}
:global(.country-dz){background-position:0 20%}
:global(.country-ec){background-position:10% 20%}
:global(.country-ee){background-position:20% 20%}
:global(.country-eg){background-position:30% 20%}
:global(.country-eh){background-position:40% 20%}
:global(.country-er){background-position:50% 20%}
:global(.country-es){background-position:60% 20%}
:global(.country-et){background-position:70% 20%}
:global(.country-eu){background-position:80% 20%}
:global(.country-fd){background-position:90% 20%}
:global(.country-fi){background-position:100% 20%}
:global(.country-fj){background-position:0 24%}
:global(.country-fk){background-position:10% 24%}
:global(.country-fm){background-position:20% 24%}
:global(.country-fo){background-position:30% 24%}
:global(.country-fr){background-position:40% 24%}
:global(.country-ga){background-position:50% 24%}
:global(.country-xe){background-position:60% 24%}
:global(.country-xs){background-position:70% 24%}
:global(.country-gb){background-position:80% 24%}
:global(.country-xw){background-position:90% 24%}
:global(.country-gd){background-position:100% 24%}
:global(.country-ge){background-position:0 28%}
:global(.country-gf){background-position:10% 28%}
:global(.country-gg){background-position:20% 28%}
:global(.country-gh){background-position:30% 28%}
:global(.country-gi){background-position:40% 28%}
:global(.country-gl){background-position:50% 28%}
:global(.country-gm){background-position:60% 28%}
:global(.country-gn){background-position:70% 28%}
:global(.country-gp){background-position:80% 28%}
:global(.country-gq){background-position:90% 28%}
:global(.country-gr){background-position:100% 28%}
:global(.country-gs){background-position:0 32%}
:global(.country-gt){background-position:10% 32%}
:global(.country-gu){background-position:20% 32%}
:global(.country-gw){background-position:30% 32%}
:global(.country-gy){background-position:40% 32%}
:global(.country-hk){background-position:50% 32%}
:global(.country-hn){background-position:60% 32%}
:global(.country-hr){background-position:70% 32%}
:global(.country-ht){background-position:80% 32%}
:global(.country-hu){background-position:90% 32%}
:global(.country-id){background-position:100% 32%}
:global(.country-ie){background-position:0 36%}
:global(.country-il){background-position:10% 36%}
:global(.country-im){background-position:20% 36%}
:global(.country-in){background-position:30% 36%}
:global(.country-iq){background-position:40% 36%}
:global(.country-ir){background-position:50% 36%}
:global(.country-is){background-position:60% 36%}
:global(.country-it){background-position:70% 36%}
:global(.country-je){background-position:80% 36%}
:global(.country-jm){background-position:90% 36%}
:global(.country-jo){background-position:100% 36%}
:global(.country-jp){background-position:0 40%}
:global(.country-kg){background-position:10% 40%}
:global(.country-kh){background-position:20% 40%}
:global(.country-ki){background-position:30% 40%}
:global(.country-km){background-position:40% 40%}
:global(.country-ke){background-position:50% 40%}
:global(.country-kn){background-position:60% 40%}
:global(.country-kp){background-position:70% 40%}
:global(.country-kr){background-position:80% 40%}
:global(.country-kw){background-position:90% 40%}
:global(.country-ky){background-position:100% 40%}
:global(.country-kz){background-position:0 44%}
:global(.country-la){background-position:10% 44%}
:global(.country-lb){background-position:20% 44%}
:global(.country-lc){background-position:30% 44%}
:global(.country-li){background-position:40% 44%}
:global(.country-lk){background-position:50% 44%}
:global(.country-lr){background-position:60% 44%}
:global(.country-ls){background-position:70% 44%}
:global(.country-lt){background-position:80% 44%}
:global(.country-lu){background-position:90% 44%}
:global(.country-lv){background-position:100% 44%}
:global(.country-ly){background-position:0 48%}
:global(.country-ma){background-position:10% 48%}
:global(.country-mc){background-position:20% 48%}
:global(.country-md){background-position:30% 48%}
:global(.country-me){background-position:40% 48%}
:global(.country-mg){background-position:50% 48%}
:global(.country-mh){background-position:60% 48%}
:global(.country-mk){background-position:70% 48%}
:global(.country-ml){background-position:80% 48%}
:global(.country-mm){background-position:90% 48%}
:global(.country-mn){background-position:100% 48%}
:global(.country-mo){background-position:0 52%}
:global(.country-mq){background-position:10% 52%}
:global(.country-mr){background-position:20% 52%}
:global(.country-ms){background-position:30% 52%}
:global(.country-mt){background-position:40% 52%}
:global(.country-mu){background-position:50% 52%}
:global(.country-mv){background-position:60% 52%}
:global(.country-mw){background-position:70% 52%}
:global(.country-mx){background-position:80% 52%}
:global(.country-my){background-position:90% 52%}
:global(.country-mz){background-position:100% 52%}
:global(.country-na){background-position:0 56%}
:global(.country-nc){background-position:10% 56%}
:global(.country-ne){background-position:20% 56%}
:global(.country-ng){background-position:30% 56%}
:global(.country-ni){background-position:40% 56%}
:global(.country-nl){background-position:50% 56%}
:global(.country-no){background-position:60% 56%}
:global(.country-np){background-position:70% 56%}
:global(.country-nr){background-position:80% 56%}
:global(.country-nu){background-position:90% 56%}
:global(.country-nz){background-position:100% 56%}
:global(.country-om){background-position:0 60%}
:global(.country-pa){background-position:10% 60%}
:global(.country-pe){background-position:20% 60%}
:global(.country-pf){background-position:30% 60%}
:global(.country-pg){background-position:40% 60%}
:global(.country-ph){background-position:50% 60%}
:global(.country-pk){background-position:60% 60%}
:global(.country-pl){background-position:70% 60%}
:global(.country-pm){background-position:80% 60%}
:global(.country-pr){background-position:90% 60%}
:global(.country-ps){background-position:100% 60%}
:global(.country-pt){background-position:0 64%}
:global(.country-pw){background-position:10% 64%}
:global(.country-py){background-position:20% 64%}
:global(.country-qa){background-position:30% 64%}
:global(.country-re){background-position:40% 64%}
:global(.country-ro){background-position:50% 64%}
:global(.country-rs){background-position:60% 64%}
:global(.country-ru){background-position:70% 64%}
:global(.country-rw){background-position:80% 64%}
:global(.country-sa){background-position:90% 64%}
:global(.country-sb){background-position:100% 64%}
:global(.country-sc){background-position:0 68%}
:global(.country-sd){background-position:10% 68%}
:global(.country-se){background-position:20% 68%}
:global(.country-sg){background-position:30% 68%}
:global(.country-si){background-position:40% 68%}
:global(.country-sk){background-position:50% 68%}
:global(.country-sl){background-position:60% 68%}
:global(.country-sm){background-position:70% 68%}
:global(.country-sn){background-position:80% 68%}
:global(.country-so){background-position:90% 68%}
:global(.country-sr){background-position:100% 68%}
:global(.country-ss){background-position:0 72%}
:global(.country-st){background-position:10% 72%}
:global(.country-sv){background-position:20% 72%}
:global(.country-sx){background-position:30% 72%}
:global(.country-sy){background-position:40% 72%}
:global(.country-sz){background-position:50% 72%}
:global(.country-tc){background-position:60% 72%}
:global(.country-td){background-position:70% 72%}
:global(.country-tg){background-position:80% 72%}
:global(.country-th){background-position:90% 72%}
:global(.country-tj){background-position:100% 72%}
:global(.country-tl){background-position:0 76%}
:global(.country-tm){background-position:10% 76%}
:global(.country-tn){background-position:20% 76%}
:global(.country-to){background-position:30% 76%}
:global(.country-tr){background-position:40% 76%}
:global(.country-tt){background-position:50% 76%}
:global(.country-tv){background-position:60% 76%}
:global(.country-tw){background-position:70% 76%}
:global(.country-tz){background-position:80% 76%}
:global(.country-ua){background-position:90% 76%}
:global(.country-ug){background-position:100% 76%}
:global(.country-us){background-position:0 80%}
:global(.country-uy){background-position:10% 80%}
:global(.country-uz){background-position:20% 80%}
:global(.country-va){background-position:30% 80%}
:global(.country-vc){background-position:40% 80%}
:global(.country-ve){background-position:50% 80%}
:global(.country-vg){background-position:60% 80%}
:global(.country-vi){background-position:70% 80%}
:global(.country-vn){background-position:80% 80%}
:global(.country-vu){background-position:90% 80%}
:global(.country-ws){background-position:100% 80%}
:global(.country-xa){background-position:0 84%}
:global(.country-xb){background-position:10% 84%}
:global(.country-xc){background-position:20% 84%}
:global(.country-xg){background-position:30% 84%}
:global(.country-xk){background-position:40% 84%}
:global(.country-xt){background-position:50% 84%}
:global(.country-ye){background-position:60% 84%}
:global(.country-yt){background-position:70% 84%}
:global(.country-za){background-position:80% 84%}
:global(.country-zm){background-position:90% 84%}
:global(.country-zw){background-position:100% 84%}
:global(.country-xx){background-position:0 88%}
:global(.country-xo){background-position:20% 88%}
:global(.country-xp){background-position:30% 88%}
:global(.country-mp){background-position:40% 88%}
