.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;

    border-radius: 6px;
    border: 1px solid #373a3f;
    background-color: #2a2d31;
}

.username {
    text-align: center;
    max-width: 110px;
    box-sizing: border-box;
    padding: 0 5px;

    color: white;
    font-family: "Nunito";
    font-weight: 700;
    font-size: 0.75rem;

    overflow-wrap: break-word;
}

.classificationTable {
    text-align: center;
    table-layout: auto;
    border-collapse: collapse;
}

.classificationTable td {
    padding: 0;
}

.classificationNameCell {
    width: 100px;
    text-align: left;
    font-size: 0.84rem;

    overflow-wrap: break-word;
}

.classificationCountCell {
    width: 60px;

    font-family: "Nunito";
    font-weight: 700;
    font-size: 0.85rem;
}